Source: pool
Section: misc
Priority: optional
Maintainer: Jeremy Davis <jeremy@turnkeylinux.org>
Build-Depends:
 debhelper (>= 10),
 python3-all (>= 3.11~),
 python3-debian,
 python3-click,
 dh-python
Standards-Version: 4.0.0
X-Python-Version: >= 3.11

Package: pool
Architecture: any
Depends:
 deckdebuild,
 git (>= 1:2.30.2),
 ${misc:Depends},
 ${python3:Depends},
 turnkey-gitwrapper,
 python3-debian,
 python3-click,
 verseek,
Recommends:
 chanko,
Description: maintain a pool of packages from source and binary stocks
