Source: pool
Section: misc
Priority: optional
Maintainer: Jeremy Davis <jeremy@turnkeylinux.org>
Build-Depends:
 debhelper (>= 10),
 python3-all (>= 3.11~),
 pybuild-plugin-pyproject,
 python3-debian,
 python3-packaging,
 dh-python,
Standards-Version: 4.0.0
X-Python-Version: >= 3.11

Package: pool
Architecture: all
Depends:
 deckdebuild,
 git (>= 1:2.30.2),
 ${misc:Depends},
 ${python3:Depends},
 turnkey-gitwrapper,
 python3-debian,
 python3-packaging,
 verseek,
Description: Maintain a pool of Debian packages from source
 and binary stocks
